<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
    <title>Dojos</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="new_dojo">
                <h1 style="color: maroon;">New Dojo</h1>
                <form action="/create/dojo" method="post">
                    <p>Name: <input type="text" name="name"></p>
                    <input type="submit">
            </div>
                </form>
            <div class="all_dojos">
                <h1> All Dojos</h1>
                <table>
                    <thead>
                        <tr>
                        {% for locations in all_dojos: %}
                        <p><a href="/show/dojo/{{locations.id}}">{{locations.name }}</a></p>
                        {% endfor %}
                        </tr>
                    </thead>
                </table>
                <p><a href='create/homepage'> Add Ninja</a></p>
            </div>
        </div>
    </div>
</body>
</html>